

<% @taxonomies.each do |taxonomy| %>

<div class="container">

  <div class="row">

    <div class="col-md-3">
      <p class="lead"><h6 ><%= Spree.t(:shop_by_taxonomy, :taxonomy => taxonomy.name) %></h6></p>
      <div class="list-group">
        <% cache taxonomy do %>
        <h4 class="list-group-item"><%= taxons_tree(taxonomy.root, @taxon, Spree::Config[:max_level_in_taxons_menu] || 1) %></h4>
        <%end%>
      </div>
    </div>
      </div>
    </div>

    <%end%>
